/Uge 06/AsteroidsEntityFramework/Common/target/
/Uge 06/AsteroidsEntityFramework/Player/target/
/Uge 06/AsteroidsEntityFramework/Core/target/
/Uge 06/AsteroidsEntityFramework/Bullet/target/
/Uge 06/AsteroidsEntityFramework/Enemy/target/
/Uge 06/AsteroidsEntityFramework/Asteroid/target/
/Uge 06/AsteroidsEntityFramework/Collision/target/
/Uge 08/AsteroidsServiceLoader/Asteroid/target/
/Uge 08/AsteroidsServiceLoader/Bullet/target/
/Uge 11/AsteroidsOSGi/OSGiCommonPlayer/target/
/Uge 11/AsteroidsOSGi/dk.OSGiPlayer/target/
/Uge 11/AsteroidsOSGi/OSGiLaser/target/
/Uge 11/AsteroidsOSGi/OSGiUpdater/target/
/Uge 11/AsteroidsOSGi/OSGiPlayer/target/
/Uge 11/AsteroidsOSGi/OSGiExtender/target/